.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.centered {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
}

h1 {
    color: #34434b;
}
.btn{
    border-radius: 0;
}
.btn-success {
    background-color: #a09474;
    border-color: #a09474;
}
.btn-success:hover,
.btn-success:disabled
 {
    background-color: #aca286;
    border-color: #aca286;
}
.btn-xl {
    padding: 1.2rem 3rem;
}
.btn-primary {
    background-color: #34434b;
    border-color: #34434b;
}
.btn-primary:hover,
.btn.primary:disabled {
    background-color: #3f515a;
    border-color: #3f515a;
}
.form-control {
    border-radius: 0;
    font-weight: lighter;
}
select {
    text-transform: uppercase;
    border: none !important;
    height: 3.5rem !important;
    -webkit-appearance: none;
    -moz-appearance: none;
}
textarea {
    background-color: #f7f7f7 !important;
    resize: none;
}